<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="form_main">
      <form name="myfirstform" #myform="ngForm" (ngSubmit)="gettingform(myform)" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="firstname">First Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="firstname" minlength="4" #firstname="ngModel" [(ngModel)]="first_name" placeholder="First Name" required pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$">
            <span *ngIf="myform.submitted && firstname.invalid">
              <p *ngIf="firstname.errors.required">Please enter your first name</p>
              <p *ngIf="firstname.errors.minlength">Please enter atleast 4 characters </p>
              <p *ngIf="firstname.errors.pattern">Please enter atleast one number and one char</p>
            </span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lastname">Last Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="lastname" minlength="4" #lastname="ngModel" [(ngModel)]="last_name" placeholder="Last Name" required> 
            <span *ngIf="myform.submitted && lastname.invalid">
              <p *ngIf="lastname.errors.required">Please enter your last name</p>
              <p *ngIf="lastname.errors.minlength">Please enter atleast 4 characters </p>
            </span>
          </div>
        </div>
        <br>

        <div ngModelGroup="address">
          <div class="form-group">
            <label class="control-label col-sm-2" for="street">Street:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="street" #streetname="ngModel" [(ngModel)]="street_name" placeholder="Street Name" required>
              <span *ngIf="myform.submitted && streetname.invalid">
                <p *ngIf="streetname.errors.required">Please enter your street name</p>
              </span>
            </div>
        </div>
        </div>
  <div ngModelGroup="dob">
    <div class="form-group">
      <label class="control-label col-sm-2" for="date">Date:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" name="date" #date="ngModel" [(ngModel)]="dateb" placeholder="Date" required>
      <span *ngIf="myform.submitted && date.invalid">
        <p *ngIf="date.errors.required">Please enter your date of birth</p>
      </span>
    </div>
    </div>
    <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="month">Month:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="month" #month="ngModel" [(ngModel)]="monthb" placeholder="Month" required>
        <span *ngIf="myform.submitted && month.invalid">
          <p *ngIf="month.errors.required">Please enter your Month of Birth</p>
        </span>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="year">Year:</label>
    <div class="col-sm-10">
      <input type="text"  class="form-control" name="year" #year="ngModel" [(ngModel)]="yearb" placeholder="Year" required pattern="^\d{4}$">
      <span *ngIf="myform.submitted && year.invalid">
        <p *ngIf="year.errors.required">Please enter your year of birth</p>
        <p *ngIf="year.errors.pattern">Please enter correct year format</p>
      </span>
    </div>
  </div>
  </div>  
  <div ngModelGroup="address">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pin">PIN:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" name="postcode" #postcode="ngModel" [(ngModel)]="pin" placeholder="Postcode" required>
      <span *ngIf="myform.submitteds && postcode.invalid">
        <p *ngIf="postcode.errors.required">Please enter your postcode</p>
      </span>
    </div>
    </div>
   </div>

   <div class="form-group">
      <label class="control-label col-sm-2" for="image">Image:</label>
      <div class="col-sm-10">

        <input type="file" name="profile_img" (change)="fileselected($event)">
        <span *ngIf="errorfile">Please Upload a valid file</span>
      </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="myform.invalid || errorfile">Submit</button>
    </div>
    </div>
      </form>
    </div>
    </div>
  </div>
</div>

                
            



