<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 appNewdirective="Welcoming you to " [passvalue]="title">
    Welcome to {{ title }}!
  </h1>
  <h1> {{amount|currency:'inr'}}</h1>
  <h1> {{date | date :'yyyy-MM-dd'}}</h1>
  <h1> {{status | custompipe:payment_status}}</h1>
  <img width="300" alt="Angular Logo" [src]="src"> <!--Poperty Binding-->
</div>
<div class="changediv" appdivdirective>
  <span class="changespn">
      Welcome to {{ title }}
  </span>
  <button id="btn_id_prev">First Click </button>
</div>
<button (click)="showconsole()">Click Me</button> <!--Event Binding-->


<input type="text"  name="title" [(ngModel)]="title"> <!--Two way data binding-->

<textarea  [(ngModel)]="ptaginnerhtml"></textarea>

<p [innerHTML]="ptaginnerhtml" style="white-space: pre-wrap;"></p>



<br>
<br>
<br>


<form [formGroup]="reacriveForm" (ngSubmit)="onSubmit()">

  <input type="text" name="firstname" formControlName="name" placeholder="First Name">
  
  <div formGroupName="address">
    <input type="text" name="street" formControlName="street" placeholder="First Name">
    <input type="text" name="city" formControlName="city" placeholder="First Name">
    <input type="text" name="state" formControlName="state" placeholder="First Name">
    <input type="text" name="zip" formControlName="zip" placeholder="First Name">
  </div>  

  <button type="submit">Click Me</button>
</form>


<br>
<br>
<br>



